body {
    font-family: 'Arial', sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
}

nav{

    position: sticky;
    top: 0;
    border-bottom: 2px black solid;
    overflow: hidden;
    text-align: center;

}

nav ul{
    list-style: none;
    margin: 0;
    padding: 5px;
    background-color: #344f5e;
    overflow: hidden;

}


nav ul li{
    float: left;
}

img.img_logo{
    width: 85%;
    height: 85%;
    left: 10px;
    margin-top:10px;
    margin-bottom:15px;
}
img.img_logo:hover{
    background-color: #597688;;
}

img.img_name{
    width: 85%;
    height: 85%;
    margin-top:20px;
    margin-bottom:15px;
}
img.img_name:hover{
    background-color: #597688;;
}

li.citata{
    width: 650px;
    font-size: large;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin-top: 50px;
    margin-left: 25px;
    align-self: center;
}

.book{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 165px;
    width: 95px;
    height: 112px;
}

.Book_Loaded{
    background-image: image("Images/Book_Logined.png");
    margin-top: 10px;
    margin-right: 10px;
    width: 255px;
    height: 112px;
}

.label_login{
    position: absolute;
    top: 30px;
    padding-left: 15px;
}

.label_reg{
    position: absolute;
    top:50px;
    padding-left: 15px;
}

.label_account{
    position: absolute;
    top: 70px;
    padding-left: 15px;
}

.label_photo{
    background-color: purple;
    position: absolute;
    top: 25px;
    margin-left: 150px;
    border: 1px solid black;
}

.label_relink{
    width:90px;
    position: absolute;
    right: 50px;
    margin-top: 90px;
}